django~=1.8.0
django-cors-headers
djangorestframework
djangorestframework-xml
django-allauth~=0.24
django-cache-machine
django-qiniu-storage==2.3.0
django-rest-auth==0.6.0
django-rest-swagger~=0.3.8
django-redis
MySQL-python==1.2.5
python-memcached
celery
kombu
redis
six>=1.1.0
uuid
pingpp
